* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background-color: white;

}

ul{
    list-style-image: none;
}

li{
    display: inline-block;
}

a {
    text-decoration: none;
    color: #252525;
}
/* Intro section */
#intro {
    min-height: 100vh;
}
.intro-title {
    font-size: 60px;
}
.intro-subtitle {
    font-size: 20px;

}

/* Header */ 

.header {
    box-shadow: 0px 5px 10px -2px rgba(34, -34, -34, -0.3);
    position: fixed;
    width: 100vw;
    background-color: #f2f2f2;
    z-index: 100;
}  

.menu{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: -5rem 2rem;
    
}

.logo{
    margin-top: 20px;
}

.nav ion-icon{
    margin-bottom: -2px;
}

.nav-principal{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    height: 40px;
    margin-top: 20px;
}

.nav{
    text-transform: uppercase;
    padding-left: 2rem;
    letter-spacing: 2px;
}

.content{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Servicios */

#services {
    margin-top: -100px;
}

.icon {
    font-size: 50px;
  }
.icon2{

    color: #dbd9d9;
    font-size: 30px;
    
  }

  /* Portafolio*/
  #portafolio {
      
    text-align: center;
  }
  
  .portafolio-content {
    padding-top: 4rem;
  }
  
  .poratfolio-nav {
    padding: 2.5rem;
    margin-top: 50px;
  }
  
  .nav-item {
    padding: 0 .7rem;
    font-size: .7rem;
    color: #282828
  }
  
  .card-img {
    margin: 1rem;
  }
  
  .portafolio-btn {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }

  /* testimonios */
    #testimonial {

        background-color: #f2f2f2;
  }
  
  .card-testimonial {
    padding: 2.3rem 4rem;
    background-color: #ffffff;
    margin-right: 2rem;
  }
  
  .autor {
    padding-top: 1.3rem;
  }
  
  .subtitle-autor {
    color: #c2c2c2;
    font-size: .8rem;
  }
  
  .card-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }


  /* four part*/

  .text-sm-date{
    color: #929292;
    font-size: .8rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    letter-spacing: .1rem;
}
.news-content {
    align-items: center;
    justify-content: center;
  }
  

.news-boton{
    font-size: 13px;
    display: inline-block;
    position: relative;
    z-index: 1;
    letter-spacing: 1.95px;
    line-height: 21px;
    padding: 0 8px;
    background-color: black;
    color: cornsilk;
    border: none;
}

.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }

/*footer*/

.footer{
    background-color: black;
    color: white;
    text-align: left;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.sub-footer{
    background-color: #282828;
    padding: 1.5rem 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.social{
    color: #a8a7a7;
    padding-left: 3rem;
    font-size: 20px;
    font-weight: 300;
}

.cont-ft{
    
    margin-top: 50px;
}

